*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    transition: background-color 9s ease;

}

h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 75px;
    color: white;
    margin-bottom: 10px;
}

p{
    text-align: center;
    color: white;
    margin-top: 0;
}

.slider{
    position: relative;
    width: 360px;
    height: 180px;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
    transform: perspective(1000px) rotateY(0deg);
    margin-top: 170px;
}


.slider span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*40deg)) translateZ(560px);
}

.slider span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140%;
    border-radius: 30px;
    object-fit: cover;
    transition: 2s;
     mask-image: radial-gradient(
        circle,
        black 90%,
        transparent 100%
    );

    -webkit-mask-image: radial-gradient(
        circle,
        black 60%,
        transparent 100%
    );
}

.slider-button-prev{
    left: 40px;
}

.slider-button-next{
    right: 40px;
}

.slider-button-prev,
.slider-button-next{
    position: absolute;
    top: 50%;

    transform: translateY(-50%);

    width: 55px;
    height: 55px;

    border: none;
    border-radius: 50%;

    background: rgba(255,255,255,0.15);
    color: white;

    font-size: 22px;

    cursor: pointer;

    z-index: 100;

    backdrop-filter: blur(8px);

    transition: 0.3s;
}

.slider-button-prev:hover,
.slider-button-next:hover{
    background: rgba(255,255,255,0.3);

    transform: translateY(-50%) scale(1.1);
}