body{
    margin:0;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#111;
}

.carrossel-container{
    width:100%;
    max-width:1200px;
    height:600px;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:30px;
}

.carroussel{
    position:relative;

    width:900px;
    height:500px;
}

.carroussel-slide{
    
    

    width:250px;
    height:350px;

    transition:0.5s ease;
}

.slide-content{
    width:100%;
    height:100%;
}

.slide-content img{
    width:100%;
    height:100%;

    object-fit:cover;

    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,.4);
}

.slide-content h2{
    text-align:center;
    color:white;
    margin-top:10px;
}

.slide-esquerda{
    left:100px;
    top:70px;

    transform:scale(.8);
    opacity:.5;

    z-index:1;
}

.slide-centro{
    left:325px;
    top:40px;

    transform:scale(1.15);

    z-index:3;
}

.slide-direita{
    left:550px;
    top:70px;

    transform:scale(.8);
    opacity:.5;

    z-index:1;
}

.slider-button-prev,
.slider-button-next{
    width:50px;
    height:50px;

    border:none;
    border-radius:50%;

    cursor:pointer;

    font-size:20px;
}